{% extends 'geek_shop/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'productapp/style.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-white">
        {% include 'geek_shop/includes/header.html' %}
    </div>

    <div class="details">

        {% include 'productapp/includes/inc_menu.html' %}
        {% if hot_product %}
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="/media/{{ hot_product.image }}">
                </div>

                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{% static 'geek_shop/img/controll.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                     </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'geek_shop/img/controll1.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'geek_shop/img/controll2.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ hot_product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> {{ hot_product.price }} <span>руб</span></p>
                <a href="{% url 'products:details' hot_product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    {{ hot_product.short_desc }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
        <div class="products_list">
            <div class="title clearfix">
                {% if category %}
                    <h2>
                        Категория: '{{ category.name|title }}'
                    </h2>
                {% endif %}
            </div>
        </div>

        <div class="category-products products">
            {% for product in products %}
                <div class="block">
                    <a href="{% url 'products:details' product.pk %}">
                        <img src="/media/{{ product.image }}" alt="product" style="width: 100%;">
                        <div class="text">
                            <img src="{% static 'geek_shop/img/icon-hover.png' %}" alt="hover">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.short_desc }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if some_products %}
            <div class="related">
                <div class="title clearfix">
                    <h2>Похожие продукты</h2>
                    <a class="explore" href="#">показать все<img src="{% static 'geekshop/img/arrow.png' %}" alt=""></a>
                </div>
                <div class="related-products clearfix">
                    {% for some_product in some_products %}
                        <div class="block">
                            <a href="{% url 'products:details' some_product.pk %}"><img src="/media/{{ some_product.image }}"
                                            alt="" style="width: 100%;">
                                <div class="text">
                                    <img src="{% static 'geekshop/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ some_product.name }}</h4>
                                    <p>{{ some_product.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
{% endblock %}
