{% extends 'geek_shop/base.html' %}
{% load static %}

{% block content %}

    <div class="hero-white">
        {% include 'geek_shop/includes/header.html' %}
    </div>

        {% include 'productapp/includes/inc_menu.html' %}

    <div class="products_list">
        <div class="title clearfix">
            <h2>
                {{ category.name|title }}
            </h2>
        </div>
            {% for product in products %}
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="">
                        <div class="text">
                            <img src="{% static 'geek_shop/img/icon-hover.png' %}" alt="img">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.short_desc }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
    </div>
{% endblock %}


